# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Directorios de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo
*~